@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: rgb(48,51,107);
    --secondary-color: #be2edd;
    --modal-duration: 1s;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
}

nav {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    border-right: 2px solid rgba(200,200,200,0.1);
}